# Виртуальное окружение
.venv/
venv/
ENV/

# Кэш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Тяжелые модели и веса (не должны заливаться на GitHub!)
models/*.pt
*.pt
floor_plan_training/yolov8n-seg.pt

# Логи обучения YOLO и временные файлы
runs/
.pytest_cache/

# Пользовательские загрузки и сгенерированные файлы
static/uploads/*
static/generated/*
# Исключаем очистку самой папки, чтобы структура сохранялась
!static/uploads/.gitkeep
!static/generated/.gitkeep

# Файлы настроек PyCharm
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db